.card {
  padding: 1.5rem;
  margin-top: 1rem;
}

.details {
  margin-bottom: 1rem;
}

.detailItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.description {
  margin-top: 1.5rem;
}

.applySection {
  margin-top: 1.5rem;
}

.appliedMessage {
  color: var(--g-color-text-positive);
}
