.card {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.metaItem {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.badges {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.link {
  color: var(--g-color-text-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
