@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.g-root {
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-orange-1000-solid: rgb(60 39 21);
    --g-color-private-orange-950-solid: rgb(71 44 20);
    --g-color-private-orange-900-solid: rgb(94 53 18);
    --g-color-private-orange-850-solid: rgb(117 63 15);
    --g-color-private-orange-800-solid: rgb(140 72 13);
    --g-color-private-orange-750-solid: rgb(163 81 10);
    --g-color-private-orange-700-solid: rgb(186 91 8);
    --g-color-private-orange-650-solid: rgb(209 100 5);
    --g-color-private-orange-600-solid: rgb(232 110 2);

    --g-color-private-green-1000-solid: rgb(29 49 39);
    --g-color-private-green-950-solid: rgb(30 57 44);
    --g-color-private-green-900-solid: rgb(33 73 53);
    --g-color-private-green-850-solid: rgb(35 89 62);
    --g-color-private-green-800-solid: rgb(38 106 72);
    --g-color-private-green-750-solid: rgb(40 122 81);
    --g-color-private-green-700-solid: rgb(43 138 90);
    --g-color-private-green-650-solid: rgb(45 154 99);
    --g-color-private-green-600-solid: rgb(48 170 109);

    --g-color-private-yellow-1000-solid: rgb(60 50 35);
    --g-color-private-yellow-950-solid: rgb(71 58 38);
    --g-color-private-yellow-900-solid: rgb(94 75 45);
    --g-color-private-yellow-850-solid: rgb(117 91 52);
    --g-color-private-yellow-800-solid: rgb(140 108 59);
    --g-color-private-yellow-750-solid: rgb(163 124 65);
    --g-color-private-yellow-700-solid: rgb(186 141 72);
    --g-color-private-yellow-650-solid: rgb(209 157 79);
    --g-color-private-yellow-600-solid: rgb(232 174 85);

    --g-color-private-red-1000-solid: rgb(60 21 30);
    --g-color-private-red-950-solid: rgb(71 20 32);
    --g-color-private-red-900-solid: rgb(94 18 36);
    --g-color-private-red-850-solid: rgb(117 15 39);
    --g-color-private-red-800-solid: rgb(140 13 43);
    --g-color-private-red-750-solid: rgb(163 10 47);
    --g-color-private-red-700-solid: rgb(186 8 50);
    --g-color-private-red-650-solid: rgb(209 5 54);
    --g-color-private-red-600-solid: rgb(232 2 57);

    --g-color-private-blue-1000-solid: rgb(29 44 57);
    --g-color-private-blue-950-solid: rgb(31 50 68);
    --g-color-private-blue-900-solid: rgb(34 63 90);
    --g-color-private-blue-850-solid: rgb(37 75 111);
    --g-color-private-blue-800-solid: rgb(40 88 133);
    --g-color-private-blue-750-solid: rgb(42 101 155);
    --g-color-private-blue-700-solid: rgb(45 113 176);
    --g-color-private-blue-650-solid: rgb(48 126 198);
    --g-color-private-blue-600-solid: rgb(51 138 219);

    --g-color-private-cool-grey-1000-solid: rgb(37 41 44);
    --g-color-private-cool-grey-950-solid: rgb(41 46 51);
    --g-color-private-cool-grey-900-solid: rgb(50 57 63);
    --g-color-private-cool-grey-850-solid: rgb(58 68 76);
    --g-color-private-cool-grey-800-solid: rgb(66 79 89);
    --g-color-private-cool-grey-750-solid: rgb(74 89 102);
    --g-color-private-cool-grey-700-solid: rgb(82 100 115);
    --g-color-private-cool-grey-650-solid: rgb(91 111 127);
    --g-color-private-cool-grey-600-solid: rgb(99 121 140);

    --g-color-private-purple-1000-solid: rgb(43 34 52);
    --g-color-private-purple-950-solid: rgb(49 36 61);
    --g-color-private-purple-900-solid: rgb(60 42 79);
    --g-color-private-purple-850-solid: rgb(72 48 97);
    --g-color-private-purple-800-solid: rgb(84 54 115);
    --g-color-private-purple-750-solid: rgb(96 59 132);
    --g-color-private-purple-700-solid: rgb(108 65 150);
    --g-color-private-purple-650-solid: rgb(119 71 168);
    --g-color-private-purple-600-solid: rgb(131 76 186);

    --g-color-private-brand-50: rgb(149 255 66 / 0.1);
    --g-color-private-brand-100: rgb(149 255 66 / 0.15);
    --g-color-private-brand-150: rgb(149 255 66 / 0.2);
    --g-color-private-brand-200: rgb(149 255 66 / 0.3);
    --g-color-private-brand-250: rgb(149 255 66 / 0.4);
    --g-color-private-brand-300: rgb(149 255 66 / 0.5);
    --g-color-private-brand-350: rgb(149 255 66 / 0.6);
    --g-color-private-brand-400: rgb(149 255 66 / 0.7);
    --g-color-private-brand-450: rgb(149 255 66 / 0.8);
    --g-color-private-brand-500: rgb(149 255 66 / 0.9);
    --g-color-private-brand-550-solid: rgb(149 255 66);
    --g-color-private-brand-1000-solid: rgb(44 60 31);
    --g-color-private-brand-950-solid: rgb(50 71 33);
    --g-color-private-brand-900-solid: rgb(62 94 37);
    --g-color-private-brand-850-solid: rgb(75 117 41);
    --g-color-private-brand-800-solid: rgb(87 140 46);
    --g-color-private-brand-750-solid: rgb(99 163 50);
    --g-color-private-brand-700-solid: rgb(112 186 54);
    --g-color-private-brand-650-solid: rgb(124 209 58);
    --g-color-private-brand-600-solid: rgb(137 232 62);
    --g-color-private-brand-500-solid: rgb(160 255 85);
    --g-color-private-brand-450-solid: rgb(170 255 104);
    --g-color-private-brand-400-solid: rgb(181 255 123);
    --g-color-private-brand-350-solid: rgb(191 255 142);
    --g-color-private-brand-300-solid: rgb(202 255 161);
    --g-color-private-brand-250-solid: rgb(213 255 179);
    --g-color-private-brand-200-solid: rgb(223 255 198);
    --g-color-private-brand-150-solid: rgb(234 255 217);
    --g-color-private-brand-100-solid: rgb(239 255 227);
    --g-color-private-brand-50-solid: rgb(244 255 236);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0 0 0 / 0.85);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-white-900-solid: rgb(232 232 232);
    --g-color-private-white-850-solid: rgb(221 221 221);
    --g-color-private-white-800-solid: rgb(209 209 209);
    --g-color-private-white-750-solid: rgb(198 198 198);
    --g-color-private-white-700-solid: rgb(186 186 186);
    --g-color-private-white-650-solid: rgb(175 175 175);
    --g-color-private-white-600-solid: rgb(163 163 163);
    --g-color-private-white-550-solid: rgb(152 152 152);
    --g-color-private-white-500-solid: rgb(140 140 140);
    --g-color-private-white-450-solid: rgb(129 129 129);
    --g-color-private-white-400-solid: rgb(117 117 117);
    --g-color-private-white-350-solid: rgb(106 106 106);
    --g-color-private-white-300-solid: rgb(94 94 94);
    --g-color-private-white-250-solid: rgb(83 83 83);
    --g-color-private-white-200-solid: rgb(71 71 71);
    --g-color-private-white-150-solid: rgb(60 60 60);
    --g-color-private-white-100-solid: rgb(48 48 48);
    --g-color-private-white-50-solid: rgb(37 37 37);
    --g-color-private-white-70-solid: rgb(41 41 41);
    --g-color-private-white-20-solid: rgb(30 30 30);
    --g-color-private-white-opaque-150: rgb(60 60 60 / 0.95);

    --g-color-private-orange-500-solid: rgb(183 92 13);
    --g-color-private-orange-450-solid: rgb(165 84 15);
    --g-color-private-orange-400-solid: rgb(148 77 16);
    --g-color-private-orange-350-solid: rgb(130 69 17);
    --g-color-private-orange-300-solid: rgb(113 62 19);
    --g-color-private-orange-250-solid: rgb(95 55 20);
    --g-color-private-orange-200-solid: rgb(78 47 21);
    --g-color-private-orange-150-solid: rgb(60 40 22);
    --g-color-private-orange-100-solid: rgb(51 36 23);
    --g-color-private-orange-50-solid: rgb(43 32 24);

    --g-color-private-green-500-solid: rgb(72 161 142);
    --g-color-private-green-450-solid: rgb(67 146 129);
    --g-color-private-green-400-solid: rgb(61 131 116);
    --g-color-private-green-350-solid: rgb(56 116 103);
    --g-color-private-green-300-solid: rgb(51 101 90);
    --g-color-private-green-250-solid: rgb(46 85 77);
    --g-color-private-green-200-solid: rgb(41 70 64);
    --g-color-private-green-150-solid: rgb(35 55 51);
    --g-color-private-green-100-solid: rgb(33 48 45);
    --g-color-private-green-50-solid: rgb(30 40 38);

    --g-color-private-yellow-500-solid: rgb(232 174 85);
    --g-color-private-yellow-450-solid: rgb(209 157 79);
    --g-color-private-yellow-400-solid: rgb(186 141 72);
    --g-color-private-yellow-350-solid: rgb(163 124 65);
    --g-color-private-yellow-300-solid: rgb(140 108 59);
    --g-color-private-yellow-250-solid: rgb(117 91 52);
    --g-color-private-yellow-200-solid: rgb(94 75 45);
    --g-color-private-yellow-150-solid: rgb(71 58 38);
    --g-color-private-yellow-100-solid: rgb(60 50 35);
    --g-color-private-yellow-50-solid: rgb(48 42 32);

    --g-color-private-red-500-solid: rgb(209 48 86);
    --g-color-private-red-450-solid: rgb(188 45 79);
    --g-color-private-red-400-solid: rgb(168 43 73);
    --g-color-private-red-350-solid: rgb(147 40 66);
    --g-color-private-red-300-solid: rgb(127 38 59);
    --g-color-private-red-250-solid: rgb(107 35 52);
    --g-color-private-red-200-solid: rgb(86 33 45);
    --g-color-private-red-150-solid: rgb(66 30 39);
    --g-color-private-red-100-solid: rgb(56 29 35);
    --g-color-private-red-50-solid: rgb(45 28 32);

    --g-color-private-blue-500-solid: rgb(51 138 219);
    --g-color-private-blue-450-solid: rgb(48 126 198);
    --g-color-private-blue-400-solid: rgb(45 113 176);
    --g-color-private-blue-350-solid: rgb(42 101 155);
    --g-color-private-blue-300-solid: rgb(40 88 133);
    --g-color-private-blue-250-solid: rgb(37 75 111);
    --g-color-private-blue-200-solid: rgb(34 63 90);
    --g-color-private-blue-150-solid: rgb(31 50 68);
    --g-color-private-blue-100-solid: rgb(29 44 57);
    --g-color-private-blue-50-solid: rgb(28 38 47);

    --g-color-private-cool-grey-500-solid: rgb(89 118 143);
    --g-color-private-cool-grey-450-solid: rgb(82 107 130);
    --g-color-private-cool-grey-400-solid: rgb(75 97 117);
    --g-color-private-cool-grey-350-solid: rgb(68 87 104);
    --g-color-private-cool-grey-300-solid: rgb(61 77 91);
    --g-color-private-cool-grey-250-solid: rgb(53 66 77);
    --g-color-private-cool-grey-200-solid: rgb(46 56 64);
    --g-color-private-cool-grey-150-solid: rgb(39 46 51);
    --g-color-private-cool-grey-100-solid: rgb(36 40 45);
    --g-color-private-cool-grey-50-solid: rgb(32 35 38);

    --g-color-private-purple-500-solid: rgb(131 76 186);
    --g-color-private-purple-450-solid: rgb(119 71 168);
    --g-color-private-purple-400-solid: rgb(108 65 150);
    --g-color-private-purple-350-solid: rgb(96 59 132);
    --g-color-private-purple-300-solid: rgb(84 54 115);
    --g-color-private-purple-250-solid: rgb(72 48 97);
    --g-color-private-purple-200-solid: rgb(60 42 79);
    --g-color-private-purple-150-solid: rgb(49 36 61);
    --g-color-private-purple-100-solid: rgb(43 34 52);
    --g-color-private-purple-50-solid: rgb(37 31 43);

    --g-color-private-brand-50: rgb(149 255 66 / 0.1);
    --g-color-private-brand-100: rgb(149 255 66 / 0.15);
    --g-color-private-brand-150: rgb(149 255 66 / 0.2);
    --g-color-private-brand-200: rgb(149 255 66 / 0.3);
    --g-color-private-brand-250: rgb(149 255 66 / 0.4);
    --g-color-private-brand-300: rgb(149 255 66 / 0.5);
    --g-color-private-brand-350: rgb(149 255 66 / 0.6);
    --g-color-private-brand-400: rgb(149 255 66 / 0.7);
    --g-color-private-brand-450: rgb(149 255 66 / 0.8);
    --g-color-private-brand-500: rgb(149 255 66 / 0.9);
    --g-color-private-brand-550-solid: rgb(149 255 66);
    --g-color-private-brand-1000-solid: rgb(239 255 227);
    --g-color-private-brand-950-solid: rgb(234 255 217);
    --g-color-private-brand-900-solid: rgb(223 255 198);
    --g-color-private-brand-850-solid: rgb(213 255 179);
    --g-color-private-brand-800-solid: rgb(202 255 161);
    --g-color-private-brand-750-solid: rgb(191 255 142);
    --g-color-private-brand-700-solid: rgb(181 255 123);
    --g-color-private-brand-650-solid: rgb(170 255 104);
    --g-color-private-brand-600-solid: rgb(160 255 85);
    --g-color-private-brand-500-solid: rgb(137 232 62);
    --g-color-private-brand-450-solid: rgb(124 209 58);
    --g-color-private-brand-400-solid: rgb(112 186 54);
    --g-color-private-brand-350-solid: rgb(99 163 50);
    --g-color-private-brand-300-solid: rgb(87 140 46);
    --g-color-private-brand-250-solid: rgb(75 117 41);
    --g-color-private-brand-200-solid: rgb(62 94 37);
    --g-color-private-brand-150-solid: rgb(50 71 33);
    --g-color-private-brand-100-solid: rgb(44 60 31);
    --g-color-private-brand-50-solid: rgb(37 48 29);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgba(0 0 0 / 0.9);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(25 25 25);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}